.meal-card {
  width: 280px;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.meal-card img {
  width: 100%;
  object-fit: cover;
}

.meal-card div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.meal-card h4 {
  padding: 10px;
  padding-bottom: 0;
}